.contenedor {
    padding: 100px;
    margin: 0 auto;
    max-width: 80%; 
}


* {
    color: white;
}

h2 {
    text-align: center;
}

#Actualizar {
    display: none;
}

.lista button {
    margin-right: 10px;
}


@media (max-width: 768px) {
    .contenedor {
        padding: 50px;
        max-width: 90%; 
    }
}


@media (min-width: 769px) y (max-width: 992px) {
    .contenedor {
        padding: 80px;
        max-width: 90%;
    }
}

